.wrapper {
  overflow-y: scroll;
  z-index: 1;

}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}


.header-carousel-row {
  color: white;
  position: absolute;
  left: 60.2px;
  font-size: 22px;
  top: -3px
}



.title-row {
  display: flex;

  .swiper-button-prev,
  .swiper-button-next {
    top: 45%;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    color: yellow;
    font-weight: 700;
    outline: 0;
    transition: background-color .2s ease, color .2s ease;

    &::after {
      font-size: 16px;
    }
  }
}

.external-buttons {
  margin-top: -18px;
  transition: transform 0.3s ease-out;
}

.title-div {
  transform: scale(0.7);
  z-index: -2;
  transition: 0.3s !important;
  transition-delay: 0.1s !important;
  width: 21.2% !important;
 
}

.title-div > * {
  transform: scale(1);
  transform-origin: top left;
}

.title-div:not(:last-child) {
  margin-right: -5.9%
}

.title-div:hover {
  transform: scale(1) !important;
  z-index: 6 !important;
}

.title-wrapper {
  position: relative;
  touch-action: manipulation; /* Prevent double-tap zoom on touch devices */
  zoom: 1;
}

.title-wrapper:hover {
  z-index: 2;
}

.title-wrapper:hover .description {
  transform: translateY(-30%);
}


.video {
  height: 152px;
  z-index: 2;
  background: black;
  
  cursor: pointer;
  min-height: 12vw;
  text-align: center;
  transition-duration: 0.4s;

}

@media (min-width: 100px) {
  .video{
    min-width: 21.3vw;
  }
}


.video:hover {
  background: rgb(44, 42, 42);
  background-size: 80%;
  position: relative;

}


.description {
  height: 140%;
  //width: 21.3vw;
  position: relative;
  z-index: 2;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  
}


.description-margin{
 
  
   z-index: 7;
   position: relative;
}


.description-section {
  width: 100%;
  height:  284px;
  position: relative;
  z-index: 7;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: #181818;
  
}

.description-details {
  padding-left: 5%; /* Add equal padding to both sides for spacing */
  padding-right: 5%;
  padding-top: 3px;
  text-align: justify;
  word-spacing: -1px;
  font-size: 2vh
 
}

.poster {
  height: 187px;
  cursor: pointer;
  border-radius: 5px;
  height: 12vw;
  position: relative;
  // z-index: 1;
  transition-delay: 0.3s;
  transition-property: visibility
}

.expanded {
  visibility: visible;

}

.poster:hover {
  //visibility: hidden;
}

#poster:hover {
  visibility: hidden;
}

.arrow-wrapper {
  font-size: 82px;
  position: sticky;
  cursor: pointer;
  height: 242px;
  display: flex;
  align-items: center;
  background: transparent;
  color: transparent
}

.subVid {
  visibility: hidden;
}

.subVid:hover {
  visibility: visible;
}

.arrow-wrapper:hover {
  visibility: visible;
  background: rgba(12, 11, 12, 0.5);
  color: white;

}

.arrow-right {
  right: 0;
  background: transparent;

}


.arrow-left {
  left: 0;
  z-index: 1;


}


.grid-item {
  cursor: pointer;
  margin-right: 12px;
  transition: 0.2s
}

.grid-item:hover {

  margin: 0 40px;
  transform: scale(1.2);

}

.wrap-results {
  justify-content: center;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  height: 5px;
  width: 1px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: white;
  position: relative;
  top: 0px;
  right: 120px;
  width: 1px;
}

.index {
  z-index: 1
}

.index-two {
  z-index: 2
}

.carousel-row-div {
  overflow-x: unset;
  position: relative;
  bottom: 136px;
  //0.2px;
  //width: 100%;
}

.title-row {
  overflow: scroll
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  //right: -210px;
  left: auto;
}

.swiper-container {
  width: 100%;
  height: 450px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.swiper-banner-slide {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-family: 'Bellefair', serif;
  font-size: 41px;
  line-height: 40px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 21px;
  letter-spacing: 1px;
}

.slide-info-container {
  color: #000;
}

.swiper-block {
  padding: 40px 0 40px;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-block .swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-block .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  margin-left: -2vw !important;
}
